{
    "api_base_url": "",
    "api_key": "",
    "email": "",
    "group_campaign_creation": "",
    "password": "",
    "recipients_group": "",
    "testmail_api_key": "",
    "testmail_email": "",
    "testmail_namespace": "",
    "testmail_rest_url": ""
}